html
  head
    title Random
  body
    h1 Random
    form
      input(name='items' id='items' placeholder='john,paul,rick,mike')
      br
      input(type='submit')
    script(src="js/jquery-3.0.0.min.js")
    script(src="js/app.js")
